.card {
  position: relative;
  right: 20px;
  display: flex;
  border: 1px solid #ddd;
  height: 30%;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s;
  background-color: #1a1a1a;
  opacity: 0.7;
  left: -250px;
  position: relative;
  width: 600px;
  }

  .header {
    position: relative;
    right: -35px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    height: 220px;
    width: 70%;
    border-radius: 8px 8px 0 0;
    position: relative;
    top: -5px;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 8px;
  }
  
  .card-description {
    position: relative;
    display: inline-block;
    align-self: flex-end;
    left: -25%;
    font-size: 1rem;
  }

  