.card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s;
  background-color: rgba(26, 26, 26, 0.7);
  width: auto;
  min-width: 500px;
  max-width: 50%;
  max-height: 250px;
  overflow: hidden;
}

.card-image {
  height: auto;
  width: auto;
  max-width: 40%;
  object-fit: cover;
  border-radius: 8px;
}

.card-content {
  flex-grow: 1;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
}
