html,
body {
  height: 100%;
  margin: 0;
}

.background {
  background-color: #000000;
  opacity: 0.7;
  background-image: linear-gradient(#ddd9d9 1.5px, transparent 1.5px),
    linear-gradient(to right, #ddd9d9 1.5px, #000000 1.5px);
  background-size: 80px 80px;
}

.container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Responsive columns */
  gap: 20px; /* Space between the cards */
  padding: 20px; /* Padding inside the container */
  height: 40vh;
  position: absolute;
  top: 80px;
  justify-content: center; /* Align cards horizontally */
  align-content: start; /* Ensure cards are aligned from the top */
}

#header {
  font-size: 50px;
  display: flex;
}
