.aboutMe {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s;
  background-color: rgba(26, 26, 26, 0.7);
  width: auto; /* Allow the card width to expand based on content */
  min-width: 300px; /* Ensure the card has a minimum width */
  max-width: 100%; /* Ensure the card does not exceed the container width */
  height: 500px;
  overflow: hidden; /* Ensures content does not overflow */
}

.aboutMe-content {
  flex-grow: 1; /* Allows the content to take up remaining space */
  padding-left: 16px; /* Space between image and content */
  display: flex;
  flex-direction: column; /* Stack the title and description vertically */
  justify-content: center; /* Center content vertically */
}

.aboutMe:hover {
  transform: scale(1.05);
}
